# 
# deb cdrom:[Debian GNU/Linux 6.0.0 _Squeeze_ - Official i386 DVD Binary-1 20110205-17:27]/ squeeze contrib main

# deb cdrom:[Debian GNU/Linux 6.0.0 _Squeeze_ - Official i386 DVD Binary-1 20110205-17:27]/ squeeze contrib main

# deb http://security.debian.org/ squeeze/updates main contrib non-free
# deb-src http://http.us.debian.org/debian/ squeeze/updates main contrib non-free

# Line commented out by installer because it failed to verify:
# deb ://volatile.debian.org squeeze-updates main contrib
# Line commented out by installer because it failed to verify:
# deb http://http.us.debian.org/debian/ squeeze main contrib non-free
# deb-src http://http.us.debian.org/debian/ squeeze main contrib non-free
# deb-src ://volatile.debian.org squeeze-updates main contrib


deb http://ftp.us.debian.org/debian/ squeeze main non-free
deb-src http://ftp.us.debian.org/debian/ squeeze main non-free

deb http://security.debian.org/ squeeze/updates main contrib non-free
deb-src http://security.debian.org/ squeeze/updates main contrib non-free

deb http://ftp.us.debian.org/debian/ squeeze-updates main contrib
deb http://ftp.us.debian.org/debian/ squeeze-proposed-updates main
deb-src http://ftp.us.debian.org/debian/ squeeze-proposed-updates main
deb-src http://ftp.us.debian.org/debian/ squeeze-updates main contrib

